body {
    background-color: black;
}
.box1 {
    width: 400px;
    height: 400px;
    background-image: repeating-radial-gradient(circle, white, black,white,black );
    background-size: 20px 100%;
    
    
}
/* .box2 {
    width: 400px;
    height: 400px;
    background-image: radial-gradient( circle at 10px 10px, #f00, yellow, #0000ff);
} */